<!DOCTYPE html>
<html lang="en">
<head>
    <title>JRPG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/combatstyles.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <audio id='pageaudio' autoplay loop>
        <source src="./media/combat-theme.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br>
    <br>
    <div class="container-fluid">
        <div class='row'>
            <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1'></div>
            <div class='col-xl-10 col-lg-10 col-md-10 col-sm-10'>
                <div class="row">
                    <div id='monsterdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center'>
                        <div class='combattext'>
                            MONSTER
                        </div>
                    </div>
                    <div id='playerdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center'>
                        <div class='combattext'>
                            WARRIOR
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id='monsterdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center'>
                        <div id='divimgmonster'>
                            <img id='imgmonster'src="./img/goblin.png" alt="" height="350">
                        </div>
                    </div>
                    <div id='playerdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center'>
                        <div id='divimgplayer'>
                            <img id='imgplayer' src="./img/male-warrior-02.png" alt="" height="350">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id='mstatsdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center combattext'>
                        <progress id='monsterprog' value="10" max="10"></progress>
                    </div>
                    <div id='pstatsdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center combattext'>
                        <progress id='playerprog' value="10" max="10"></progress>
                    </div>
                </div>
                <div class="row">
                    <div id='mstatsdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-start'>
                        <br>&nbsp;
                        <br>&nbsp;
                    </div>
                    <div id='pstatsdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center'>
                        <button id='pfight' class='btn btn-danger actionbutton combattext' onclick="attackround()">FIGHT</button>|<button id='prun' class='btn btn-info actionbutton combattext' onclick="playerretreat()">RUN</button>
                    </div>
                </div>
                <div class="row">
                    <div id='mlogdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-start combattext'>
                        &nbsp;
                    </div>
                    <div id='plogdiv' class='col-xl-6 col-lg-6 col-md-6 col-sm-6 border border-light rounded d-flex justify-content-center combattext'>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1'></div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1'></div>
        <div id='divExit' class='col-xl-10 col-lg-10 col-md-10 col-sm-10 d-flex justify-content-center invisible'>
            <button class='btn btn-success actionbutton combattext' onclick="exitCombatPage()">EXIT</button>
        </div>
        <div class='col-xl-1 col-lg-1 col-md-1 col-sm-1'></div>
    </div>
</body>
<script>
    var monsterDefeated = false;
    function attackround(){
        var audio = new Audio("./media/sword.mp3") ;
        var monsterhealth = parseInt($("#monsterprog").val());
        var playerhealth = parseInt($("#playerprog").val());

        myVar = setTimeout(function(){
            $("#pfight").attr("disabled","disabled");
            $("#prun").attr("disabled","disabled");
            $("#plogdiv").text('WARRIOR ATTACKS');
        }, 100);

        myVar = setTimeout(function(){
            $("#imgmonster").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
            audio.play();
            let dmg = calcDamage(3,5);

            $("#mlogdiv").text('MONSTER TAKES ' + dmg + ' DAMAGE');
            monsterhealth-=dmg;
            $("#monsterprog").val(monsterhealth);

            clearLogs();

            if(monsterhealth < 1) {
                monsterDefeated = true;
                var pageplayer = document.getElementById("pageaudio");
                pageplayer.pause();
                endCombat();
            } else {
                myVar = setTimeout(function(){
                    $("#pfight").attr("disabled","disabled");
                    $("#prun").attr("disabled","disabled");
                    $("#mlogdiv").text('MONSTER ATTACKS');
                    myVar = setTimeout(function(){
                        $("#imgplayer").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                        audio.play();
                        let dmg = calcDamage(1,3);

                        $("#plogdiv").text('PLAYER TAKES ' + dmg + ' DAMAGE');
                        playerhealth-=dmg;
                        $("#playerprog").val(playerhealth);
                        clearLogs();
                    }, 3000);


                }, 3000);


            }
        }, 3000);
    }
    function playerretreat(){
        var audio = new Audio("./media/runaway.mp3") ;
        myVar = setTimeout(function(){
            $("#plogdiv").text('WARRIOR RETREATS');
            audio.play();
        }, 100);
        myVar = setTimeout(function(){
            $("#imgplayer").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100);
            console.log('RUNAWAY!');
        }, 3000);
        exitCombatPage();
    }

    function clearLogs(){
        myVar = setTimeout(function(){
            $("#mlogdiv").html('&nbsp;');
            $("#plogdiv").html('&nbsp;');
            if (!monsterDefeated) {
                $("#pfight").removeAttr("disabled");
                $("#prun").removeAttr("disabled");
            }
        }, 3000);
    }

    function endCombat() {
        var audio = new Audio("./media/victory.mp3") ;
        myVar = setTimeout(function(){
            $("#imgmonster").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100);
            audio.play();
        }, 100);
        myVar = setTimeout(function(){
            $("#pfight").attr("disabled","disabled");
            $("#prun").attr("disabled","disabled");
            $("#divExit").removeClass('invisible');
        }, 5000);
    }

    function exitCombatPage() {
        myVar = setTimeout(function(){
            location.href = '/world';
        }, 3000);
    }

    function calcDamage(min, max) {
        return Math.floor((Math.random() * max) + min);
    }

</script>
</html>
