body {
  background-color: black;
}

#monsterdiv {
  background-image: url('../img/abyss.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#divimgmonster {
  opacity: 1;
}

#playerdiv {
  background-image: url('../img/abyss2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#divimgplayer {
  opacity: 1;
}

#mstatsdiv {
  padding: 10px;
}

#pstatsdiv {
  padding: 10px;
}

.combattext {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.actionbutton {
  width: 45%;
}

.invisible {
  display: none;
}