body {
  background-color: black;
}

.combattext {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#dojologo {
  display: none;
}

#meanlogo {
  display: none;
}

#line1div {
  display: none;
}

#line2div {
  display: none;
}

#line3adiv {
  display: none;
}

#line3bdiv {
  display: none;
}

#btnstart {
  display: none;
}