#current-map-tile{
    /* min-height: 700px; */
    padding: 10px 0;
}

#world-map-tile{
    min-height: 225px;
    padding: 5px 0;
}


#world-chat{
    height: 290px;
    margin-top: 10px;
    padding: 10px;
}

#chathistory{
    height: 220px;
    overflow-y: auto;
    background-color: bisque;
}

.box{
    border-width: 5px !important; 
    background-color: rgb(21, 51, 107);
    
}

body {
    background-color: darkslategray;
}

.container{
    width: 95%;
    padding: 5px
}

.spacer {
    width: 0px;
}

.gridbox-world {
    width: 4px;
    height: 4px;
    border: 1px solid rgb(197, 196, 196);
    background-color: white;
}

.gridbox {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(197, 196, 196);
    background-color: white;
}

.view-b {
    border-bottom: 1px solid magenta;
}

.view-t {
    border-top: 1px solid magenta;
}

.view-l {
    border-left: 1px solid magenta;
}

.view-r {
    border-right: 1px solid magenta;
}

.self {
    background-color: blue;
}

.other {
    background-color: gray;
}

.monster {
    background-color: red;
}

/* .selfoccupied {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 1px solid black;
}

.otheroccupied {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 1px solid black;
} */