<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div id="current-map" class="col-7 box rounded border border-light">
        main page
      </div>
      <div class="side-items col-5">
        <div id="world-map" class="box rounded border border-light">
          <app-worldmap></app-worldmap>
        </div>
        <div id="world-chat" class="box rounded border border-light">
          <!-- <app-worldchat></app-worldchat> -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>